.rate-input-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px 8px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.rate-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #6c757d;
    font-weight: 500;
}

.rate-input-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    background: white;
    justify-content: space-between;
    width: 280px;
    height: 40px;
}

.rate-input {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background: transparent;
    text-align: left;
    margin-left: 0px;
    width: 100%;
}

.rate-input:disabled {
    background: white;
    cursor: not-allowed;
}

.rate-input-wrapper .currency-list {
    margin-left: -5px;
}